.container {
    display: flex;
    flex-direction: column;
}

.content {
    flex-direction: column;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid rgb(250, 176, 5);
}

.btn-primary:hover {
    background-color: rgb(250, 176, 5);
    color: white;
}