<footer class='admin-footer'>
  <div class='admin-footer-content'>
    <div class='admin-footer-row'>
      <img role="presentation" src='images/logo-footer.svg' class='logo logo-footer' />
      <p>© Northern Mountains</p>
    </div>
  </div>
</footer>