@page "/students"
@using SchoolApp.Admin.Web.Models
@using SchoolApp.Admin.Web.Services
@attribute [StreamRendering]
@inject StudentService StudentService
@inject NavigationManager NavigationManager
<div class="container">
    <h3 class="pages-banner" >Students</h3>

@if (_students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a class="btn btn-primary shadow-none" @onclick="AddStudent">Add New Student</a>
        <table class="table content">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in _students)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Email</td>
                <td>
                    <a class="btn btn-info" @onclick="() => EditStudent(student.StudentId)">Edit</a>
                    <a class="btn btn-danger" @onclick="() => DeleteStudent(student.StudentId)">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
    </div>

@code {
    private IEnumerable<Student>? _students;

    protected override async Task OnInitializedAsync()
    {
        _students = await StudentService.GetAllStudentsAsync();
    }

    void AddStudent()
    {
        NavigationManager.NavigateTo("/student/add");
    }

    void EditStudent(string studentId)
    {
        NavigationManager.NavigateTo($"/student/edit/{studentId}");
    }

    async Task DeleteStudent(string studentId)
    {
        await StudentService.DeleteStudentAsync(studentId);
        _students = await StudentService.GetAllStudentsAsync(); // Refresh the list
    }
}